#container {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

#header {
    background: #838283;
    height: 50px;
    width: 100%;
    position:relative;
}


#menu {
    background: #333333;
    float: left;
    width: 15%;
    height: 600px;

}

#content {
    float: right;
    box-sizing: border-box;
    padding: 20px;
    width: 85%;
    height: 600px;
}

#clear {
    clear:both;
}

#footer {
    background: #838283;
    height: 100px;
    width: 100%;
    position: static;
}

#logo{
    font-family: "Impact";
    font-size: 30px;
    color: azure;

}
#logo-container{
    width: 15%;
}
#profile{
    width: 10%;
    position:absolute;
    right: 0px;
    top:40%;
    margin-top: 10px;
}
#exit{
    position: absolute;
    right: 5px;
    cursor: pointer;
}
.name{
    color: #31b0d5;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    font-size: large;
    cursor: pointer;
    }
.name:hover{
    color: lawngreen;
}
#soft_in_list,#soft{
    margin: 30px;
}

.links{
    font-size: 20px;
    margin: 5px;
}
.test_clip{
    white-space: pre-line; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 20%; /* Задаем ширину кнопки выбора файла */
    height: 35px; /* Задаем высоту кнопки выбора файла */
    background: #6da047;
    border-radius: 3px;
    padding: 8px 4px;
    color: #fff;
    text-align: center;
}
.file-upload:hover {
    background: #7aad55;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}