<div main></div>
<div id="content" class="container">
    <div style="margin: 10px">
        <form name="saveForm" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <h3>Загрузка продукта</h3>
                    </div>
                </div>
                <!--
                <div class="control-group" ng-class="{error: saveForm.category.$invalid}">
                    <label class="control-label" for="category">Категория</label>
                    <div class="controls">
                        <select name="category" ng-model="item.category" required
                            ng-options="key as value for (key, value) in categories"></select>
                    </div>
                </div>-->
                <div class="control-group" ng-class="{error: saveForm.title.$invalid}">
                    <div class="controls">
                        <input type='hidden' value='2000000' name='MAX_FILE_SIZE'>
                        <div class='file-upload'>
                            <label>
                                <input  type='file' size='20' file-model="myFile" multiple=''>
                                <span>Выберите файл</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="control-group" ng-class="{error: saveForm.answerer.$invalid}">
                    <label class="control-label" for="title">Описание</label>
                    <div class="controls">
                        <textarea id="text" ng-model="text" required=""></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="button" ng-disabled="saveForm.$invalid||saveForm.$pristine" href="#/soft" ng-click="saveupdate()" class="btn btn-success" value="Сохранить">
                    <a href="#/user/{{id}}/soft" class="btn">Отмена</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{myFile}}
{{idsoft}}
