<div main></div>
<div id="content" class="container">
    <form name="saveForm" class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <h3>{{["Добавление","Изменение"][(item.id>0)+0]}} продукта</h3>
                </div>
            </div>
            <!--
            <div class="control-group" ng-class="{error: saveForm.category.$invalid}">
                <label class="control-label" for="category">Категория</label>
                <div class="controls">
                    <select name="category" ng-model="item.category" required
                        ng-options="key as value for (key, value) in categories"></select>
                </div>
            </div>-->
            <div class="control-group" ng-class="{error: saveForm.title.$invalid}">
                <label class="control-label" for="title">Название софта</label>
                <div class="controls">
                    <input name="title" ng-model="item.title" required>
                </div>
            </div>
            <div class="control-group" ng-class="{error: saveForm.answerer.$invalid}">
                <label class="control-label" for="text">Текст</label>
                <div class="controls">
                    <textarea id="text" ng-model="item.text" required=""></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="button" ng-disabled="saveForm.$invalid||saveForm.$pristine" href="#/list" ng-click="savesoft()" class="btn btn-success" value="Сохранить">
                <a href="#/user/{{id}}/soft" class="btn">Отмена</a>
            </div>
        </fieldset>
    </form>
</div>

