<div id="container" >
    <div id="header" ng-controller="LogoutCtrl" >
        <div id="logo-container">
            <a id="logo" href="index.php">Developer's Site</a>
        </div>
        <div id="profile">
            <p id="exit" ng-click="logout()">Выход</p>
        </div>

    </div>
    <div id="menu" ng-controller="MenuCtrl" ng-switch on="role" ng-if="!stat">
        <div ng-switch-when="Clients">
            <div>
                <p style="color: red">{{role}}</p>
                <a class="links" href="#/user/1/stat" id="soft_stat" >Статистика</a>
                <hr>
            </div>
            <div>
                <a class="links" href="#/user/{{id}}/soft" id="soft_link">Приложения</a>
                <hr>
            </div>
            <div id="link_my">
                <a class="links" href="#/user/1/soft_mine" id="softs">Мои приложения</a>
                <hr>
            </div>
        </div>
        <div ng-switch-when="Providers">
            <div>
                <a class="links" href="index.php?type=stat" id="soft_stat" >Статистика</a>
                <hr>
            </div>
            <div>
                <a class="links" href="#/user/{{id}}/soft" ng-click="act=show_soft" id="soft_link">Приложения</a>
                <hr>
            </div>
            <div id="link_create" >
                <a class="links" href="#/user/{{id}}/create" >Создать софт</a>
                <hr>
            </div>
        </div>
        <div ng-switch-when="Administrators">

        </div>
</div>
        <!--
        <div>
            <a class="links" href="index.php?type=upload_soft">Загрузить софт на сервер</a>
    </div>-->
    </div>
</div>