<form class="form-signin ajax" name="registerForm" method="post" novalidate="novalidate">
    <div class="main-error alert alert-error hide"></div>

    <h2 class="form-signin-heading">Регистрация</h2>
    <div class="form-group">
        <input name="email" type="text" class="form-control" placeholder="E-mail" ng-model="email" required autofocus>
    </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Пароль" ng-model="password" required>
    </div>
    <button class="btn btn-block btn-primary" ng-click="login()">Зарегистрироваться</button>
    <div id="warning" class="alert alert-info" ng-if="email!=''" style="margin-top:15px;  color: red; background-color: #d2d0d2">
    </div>
    <div class="alert alert-info" style="margin-top:15px;">
        <p>У меня уже есть логин <a href="#/login">Зарегистрироваться.</a>
    </div>
</form>