<div main></div>
<div id="content" class="container" ng-controller="ListsCtrl">
        <div id='soft_in_list' ng-repeat="item in softlist">
            <p class='name'>{{item.name}}</p>
             <p class='test_clip'>{{item.description}}</p>
        </div>
        <div id="soft" style="display: none; "></div>
        <div id="result"></div>
</div>
